%ul.nav.nav-tabs
  %li= link_to "Info", "#"
  %li= link_to "Magic", "#"
  %li= link_to "Equpiment", "#"
%ul.nav.nav-pills
  %li= link_to "Info", "#"
  %li= link_to "Magic", "#"
  %li= link_to "Equpiment", "#"
%ul.nav.nav-pills.nav-stacked
  %li= link_to "Info", "#"
  %li= link_to "Magic", "#"
  %li= link_to "Equpiment", "#"
