.page-header
  %h1
    Jello World
    %small world of wonders
.panel.panel-default
  .panel-heading Person
  .panel-body
    %ul.list-group
      %li.list-group-item.list-group-item-success
        Name: Joe
        %span.badge 14
      %li.list-group-item
        Job: Garbageman
        %span.badge 5
      %li.list-group-item
        Height: 180 cm
        %span.badge 500
  .panel-footer
    %a.btn.btn-danger.btn-sm Kill
    %a.btn.btn-default.btn-sm Don't Kill
.media
  = link_to image_tag("jim.jpg", class: "media-object"), "#", class: "pull-left"
  .media-body
    %h4.media-heading James Carson
    %p Some text goes here
    .media
      = link_to image_tag("jim.jpg", class: "media-object"), "#", class: "pull-left"
      .media-body
        %h4.media-heading James Carson
        %p I agree with that
.row
  - %w(Jim James Jimbo Carson).each do |name|
    .col-xs-3
      .thumbnail
        = image_tag("jim.jpg")
        .caption
          %h3= name
          %p This is a guy who does things so other things can thing what they want to thing about things
          %p= link_to "Read More", "#", class: "btn btn-default"
.row
  %ul.list-group
    %a.list-group-item{href: "#"}
      %h4.list-group-item-heading Hello
      %p.list-group-item-text This is the text text text
