.navbar-header
  %button.navbar-toggle{type: "button", "data-toggle" => "collapse",  "data-target" => "#mynavbar-content"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "burnt43", {controller: :home, action: :index}, class: "navbar-brand"
#mynavbar-content.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
        Bootstrap Tests
        %b.caret
      %ul.dropdown-menu
        - @bootstrap_pages.each do |navigation_item|
          %li= link_to navigation_item, "/bootstrap/#{navigation_item}"
    %li.dropdown
      %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
        jQuery Tests
        %b.caret
      %ul.dropdown-menu
        - @jquery_pages.each do |navigation_item|
          %li= link_to navigation_item, "/jquery/#{navigation_item}"
    %li= link_to "EmberJS", "/emberjs/"
