= bootstrap_form_for(@foo, html: {data: {turbolinks_form: true}}) do |f|
  .panel.panel-primary
    .panel-heading
      %strong= "New #{Foo.model_name.human}"
    .panel-body
      = f.text_field :name
      = f.text_field :title
      = f.number_field :strength
      = f.number_field :agility
      = f.number_field :intelligence
    .panel-footer
      = f.submit class: 'btn btn-success'
      %a.btn.btn-info.turbolinks-submit-button{data: {turbolinks_controller_action_name: action_name}}
        = fa_icon :star, class: 'fa-lg'
        Special
