.panel.panel-primary
  .panel-heading
    %strong= Foo.model_name.human.pluralize
  .panel-body
    %p This page loads slowly on purpose to test caching/preview feature of Turbolinks.
    %p= "Here is a random number: #{@random_number}"
  .table-responsive
    %table
  .panel-footer
    %a.btn.btn-success{href: new_foo_path}
      = fa_icon('plus')
      = "Add #{Foo.model_name.human}"
