.panel.panel-primary
  .panel-heading
    %strong= Foo.model_name.human.pluralize
  .panel-body
    %p This page loads slowly on purpose to test caching/preview feature of Turbolinks.
    %p= "Here is a random number: #{@random_number}"
  .table-responsive
    %table.table
      %thead
        %tr
          %th Actions
          %th= Foo.human_attribute_name(:name)
          %th= Foo.human_attribute_name(:title)
          %th= Foo.human_attribute_name(:strength)
          %th= Foo.human_attribute_name(:agility)
          %th= Foo.human_attribute_name(:intelligence)
      %tbody
        - Foo.all.each do |foo|
          %tr
            %td
              %a{href: edit_foo_path(foo)}
                = fa_icon('pencil-square', class: 'fa-lg')
            %td= foo.name
            %td= foo.title
            %td= foo.strength
            %td= foo.agility
            %td= foo.intelligence
  .panel-footer
    %a.btn.btn-success{href: new_foo_path}
      = fa_icon('plus')
      = "Add #{Foo.model_name.human}"
