{{#unless isEditing}}
  {{#if model}}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{model.title}}</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">State</label>
            {{view Ember.Select content=App.Post.STATES value=model.state class="form-control"}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6"><strong>Text</strong></div>
            <div class="col-xs-6">
              <span class="pull-right">
                {{#link-to 'post.edit' model}}<i class="fa fa-pencil-square-o fa-lg"></i>{{/link-to}}
              </span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          {{model.body}}
        </div>
      </div>
    </div>
    <div class="row">
      <input type='submit' value='Save' class='btn btn-success' {{action 'saveChanges'}}/>
    </div>
    {{#if showUnsavedMessage}}
      <div class="row">
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i> You have unsaved changes
        </div>
      </div>
    {{/if}}
    {{#if model.isSaving}}
      <div class="row">
        <div class="alert alert-success">
          <i class="fa fa-info-circle"></i> Saving...
        </div>
      </div>
    {{/if}}
  {{else}}
    <h4 class="text-center">Select a Post</h4>
  {{/if}}
{{else}}
  {{outlet}}
{{/unless}}
